<header>
    <h1 class="pageTitle">
        <a href="https://spring-hollyhock.vercel.app/">Spring-Hollyhock</a>
    </h1>
</header>

<style>
    .pageTitle {
        text-align: center;
    }
    .pageTitle a {
        text-decoration: none;
        color: inherit; /* 見出しの色に合わせる */
    }
</style>